[ req ]
default_bits       = 4096
default_keyfile    = certs/key.pem
distinguished_name = req_distinguished_name
req_extensions     = req_ext
x509_extensions    = v3_ext
prompt             = no

[ req_distinguished_name ]
CN                 = localhost

[ req_ext ]
subjectAltName     = @alt_names

[ v3_ext ]
subjectAltName     = @alt_names

[ alt_names ]
DNS.1              = localhost
IP.1               = 192.168.86.29